:root{
    --main-bg-color: #F6E7D8;
    --primary-color: #C65D7B;
    --secondary-color: #F68989;
}

/* html, body { 
    margin:0;
    min-height: 100vh;
 } */
body{
    font-size: 2rem;
    height:100vh;
    margin:0;
    padding:32px;
    overflow:hidden;
    background-color:var(--main-bg-color); 
    font-family: "Domine", serif;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
h1{ 
    max-width: fit-content;
    position:relative;
    top: 40%;
    font-size: 6rem;
    color:var(--primary-color);
    margin: 0 auto;
}
.container{
    height: 94vh;
}

.box{
    color:var(--main-bg-color);
    border-radius: 16px;
    background-color: var(--primary-color);
    height:100%;
    width:100%;
}

.nav{
    color:var(--main-bg-color);
    font-size: 3rem;
    border-radius: 16px;
    background-color: var(--primary-color);
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav{
    color:var(--main-bg-color);
    font-size: 3rem;
    border-radius: 16px;
    background-color: var(--primary-color);
    grid-column-start: 1;
    grid-column-end: 5;
   
}

.logo{
    margin-left: 1rem;
    font-size: 3rem;
}

button{ 
    background-color:transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Domine", serif;
    
}
button:hover{
    filter: brightness(90%);
}

a:hover{
    filter: brightness(90%);
}

.fa-arrow-up{
    rotate: 45deg;
    font-size:3rem;
    margin:1rem;
}

/* modals */

#modal-ctn{
    display: none; 
}

#modal-ip{
    display: none; 
}

.modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
.ctn-modal-content, .ip-modal-content {
    border-radius: 16px;
    background-color: var(--primary-color);
    margin: auto;
    padding: 2rem;
    width: 80%;
    color: var(--main-bg-color);
  }

p > a {
    color: var(--main-bg-color);
  }
  #cnt-close, #ip-close {
    color: var(--main-bg-color);
    float: right;
    font-size: 3rem;
    font-weight: bold;
  }
  
#cnt-close:hover, #cnt-close:focus, #ip-close:hover, #ip-close:focus {
    filter: brightness(90%);
    text-decoration: none;
    cursor: pointer;
  }

p > button{
    background-color:transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Domine", serif;
    font-size: 1.5rem;
    color: var(--main-bg-color);
  }
  
.fa-linkedin, .fa-envelope{
    margin:0 6px;
  }

button > i {
    margin: 0 6px;
  }